* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
}

html,
body,
#root {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex: 1 1;
}

a {
  color: inherit;
  text-decoration: none;
}
